In [ ]:
import pandas as pd       
import numpy as np        
import matplotlib.pyplot as plt  
import seaborn as sns     


df = pd.read_csv("/Users/anilyigitsel/Documents/personal/dev/istanbul-rental-analysis/data/dataset.csv")


df.head()

,district,neighborhood,room,living room,area (m2),age,floor,price(in millions)
0,Bakırköy,Kartaltepe Mah.,2,1,90,45,3,260
1,Çekmeköy,Merkez Mah.,3,1,150,11,0,850
2,Fatih,Mevlanakapı Mah.,2,1,68,35,1,130
3,Beyoğlu,Kılıçali Paşa Mah.,2,1,80,0,3,790
4,Bahçelievler,Bahçelievler Mah.,2,1,90,1,-2,400